*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}
/* .mt-4{
  margin-top: 3rem;
}
.ml-3{
  margin-left: 2rem;
}
.mr-3{
  margin-right: 2rem;
} */
.letter-spacing {
  letter-spacing: 0.3rem;
}
.nav {
  background: transparent;
  color: black;
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  margin-top: 0.5rem;
}

.subNav {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.subNav li {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.subNav li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  border-bottom: 1px solid black;
}
.subNav li a:hover {
  border-bottom: 4px solid black;
  background: green;
  color: white;
}
.selectedLink {
  background: "green";
  color: "white";
}

.topSection {
  background: url(./asset/beautiful-cute-girl-41551.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.header_content {
  position: absolute;
  top: 40%;
  right: 10%;
  transform: translate(-50% -50%);
  flex-direction: column;
  color: black;
}
.headerText {
  position: absolute;
  top: 50%;
  right: 24%;
  transform: translate(-50% -50%);
  flex-direction: column;
  color: black;
  font-size: 2rem;
}
.MainHeader {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 1.2rem;
  color: black;
}
.logo-box {
}
.logo {
  height: 40px;
}

.SectionA {
  height: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}

.SectionB {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./asset/newBg2.jpg);
  background-size: cover;
  height: auto;
  padding: 0 2rem;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 3rem;
  margin-top: 100px;
  margin-bottom: 100px;
}
.cards {
  height: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 100px;
}
.Get-Job-Heading {
  position: absolute;
  bottom: 25%;
  left: 15%;
  font-size: 2rem;
  color: white;
  font-weight: 700;
}
.SearchForm {
  width: 90%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.24);
  padding: 4rem 3rem;
  position: absolute;
  bottom: 0;
  left: 5%;
  flex-wrap: wrap;
}
.SearchForm select {
  height: 60px;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 250px;
  border-radius: 15px;
  font-size: 1.7rem;
  color: gray;
}

.disabled {
  background: gray !important;
}

.SearchForm button {
  padding: 2rem 3rem;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  background: black;
  color: white;
}

.heading {
  margin: 3rem 0;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: green;
}

.card_1 {
  width: 300px;
  height: 150px;
  padding: 5px 3px;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: left;
  justify-content: center;
}
.card_2 {
  width: 300px;
  height: 150px;
  padding: 2px 3px;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: left;
  justify-content: center;
}
.card_3 {
  width: 300px;
  height: 150px;
  padding: 5px 3px;
  color: black;
  display: flex;
  margin-top: 2rem;

  align-items: left;
  flex-direction: column;
  justify-content: center;
}
.icons {
  color: green;
}
.card-title {
  font-size: 1.7rem;
  margin-top: 1rem;
}
.card-text {
  font-size: 1.7rem;
  margin-top: 1rem;
}
.footer {
  /* width: 100vw; */
  display: flex;
  flex-wrap: wrap;
  background: black;
  justify-content: space-around;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  padding-top: 2rem;
}
footer ul {
  list-style: none;
}
footer ul li {
  font-size: 1.5rem;
  margin: 1.5rem;
}
.jobList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.card_job {
  width: 500px;
  height: 180px;
  padding: 2px 1.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background: white;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0px 0px 1px 0px white;
}
.card_job:hover {
  background: green;
  color: white;
  transition: all 0.5s;
}

.foooter_ListHeader {
  font-weight: bolder;
  color: green;
  margin-bottom: 1rem;
  border-bottom: 0.5px solid white;
  font-size: 2rem;
}
.products {
  text-align: center;
}
.productParagraph {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 1.7rem;
}

/* Login */
.loginPage {
  width: 80vw;
  height: 85vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: url(./asset/chair-daylight-desk-1181251.jpg);
  margin-top: 2rem;
  background-size: cover;
  background-position: center;
}
.loginImage {
  width: 60%;
  /* background:url(./asset/adult-chair-connection-1251841.jpg); */
  background-size: cover;
  background-position: center;
}
.loginForm {
  width: 50%;
}
.loginForm input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid black;
  background: white;
}
.loginContainer {
  background: white;
  height: 100%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1%;
}
.forgotPassword {
  text-align: left;
}
.loginbtn {
  background: black;
  color: white;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid black;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
.loginDisabled {
  background: gray !important;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  cursor: default;
  color: white;
}
.login {
  font-weight: 900;
  color: black;
  margin-bottom: 4rem;
}
.registerLnk {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}
.gotoRegister {
  cursor: pointer;
}
.gotoRegister:hover {
  text-decoration: underline;
}
.loginWelcomeMsg {
  margin-bottom: 2rem;
}
.validationErrorNotification {
  color: red;
  font-weight: bold;
  font-size: 1rem;
}
.purple {
  color: #2a91d0;
}
.green {
  color: #4eb84a;
}
.brown {
  color: brown;
}
.stateAmount {
  font-size: 1.2rem;
  color: black;
}
::placeholder {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .loginContainer {
    background: white;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: none;
    border-radius: none;
  }
  .card_1 {
    margin-top: 5px;
    width: 90%;
  }
  .card_3,
  .card_2 {
    margin-top: 9rem;
    width: 90%;
  }

  .productParagraph {
    text-align: left;
    width: 90%;
  }
  .icons {
    margin-bottom: 2rem;
  }
  .topSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(./asset/beautiful-cute-girl-41551.jpg);
      margin-top: -1.3rem;
  }
  .headerText {
    display: none;
    color: white;
  }
  .subNav li a {
    color: white;
    border-bottom: none;
  }
  .subNav li a:hover {
    border-bottom: 1px solid white;
  }
  .MainHeader {
    font-size: 3rem;
  }
  .card {
    width: 100%;
  }

  .purple,
  .green,
  .brown {
    color: white;
  }
}

/* BLOG */

.container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.rowblog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.userCard {
  padding-top: 2rem;
  background: white;
  box-shadow: 0 0 1px black;
  text-align: center;
}
.imgClassName {
  width: 60px;
}
img .spinner {
  margin: 0 auto;
  text-align: center;
}
.spiningImg {
  margin: 0 auto;
  text-align: center;
}
.formSearch {
  width: 40%;
  margin: auto;

  margin-top: 5rem;
}
.formSearch input {
  width: 100%;
  height: 40px;
}
.btnSubmit {
  border-radius: none;
  border: none;
  font-size: 1.5rem;
  background: black;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
}
.light {
  background: black;
  color: red;
}
.alert {
  width: 40%;
  margin: auto;
}
.myalert {
  color: black;
  font-size: 2rem;
}

/* .userCard{
  display: grid;
  align-items: center;
  background: rgb(252, 250, 250);
  grid-template-columns: 40% 60%; 
  grid-gap: 10px; 
} */

.round-img {
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
}
.userbio {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.userListText {
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}
.userListText li {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.userCardBio {
  text-align: left;
}

.badgesText {
  font-size: 1.5rem;
}
.repoName {
  font-size: 1.5rem;
}
